body {
    font-family: Arial, sans-serif;
    text-align: center;
    background:linear-gradient(450deg,aqua,skyblue,rgb(155, 240, 251),aqua);
}

h1 {
    color:black;
}

#gameBoard {
    width: 320px; 
    height: 320px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 0 auto; 
    margin-top: 30px; 
    position: relative; 
    padding: 10px;
    justify-content: center; 
    border-radius: 20px; 
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    

}

#restartButton, #multiplayerButton, #aiButton {
    font-size: 20px;
    margin-top: 20px;
    padding: 12px;
    background-color: black;
    color: whitesmoke;
    border: 4px solid red;
    cursor: pointer;
    border-radius: 20px;
}
#restartButton:hover{
    font-weight: bolder;
    transition-duration: 0.5ms;
    background-color: red;
    border: 4px solid white;
   border-radius: 50px;
    box-shadow: 0 0 10px black,
    0 0 20px black,
    0 0 30px black;
    transform: translateY(-20px);
    transition: 0.5s;
}
#status {
    margin-top: 20px;
    font-size: 1.5em;
}

button:hover {
    background-color: #555;
}
